.vscode/**
.vscode-test/**
.gitignore
.github/**

*.vsix
node_modules/**

images/**
!images/icon-256w.png
!images/icon-512w.png
!images/nostromo-dark-color-theme.png
!images/nostromo-dark-modern-color-theme.png
!images/nostromo-light-color-theme.png
!images/nostromo-light-modern-color-theme.png

demos/**
samples/**

*.log
